*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3a3b3c;
    color: #fff;
    font-family: monospace, serif, Arial;
    display: flex;
    font-size: 1.4rem;
    height: 100vh;
}
.left{
    margin-top: 10px;
    /* display: flex;
    flex-flow: column;
    justify-content: space-around;
    flex-grow: 1; */
}
.profile-pic img{
    width: 25%;
    height: auto;
    border-radius: 50%;
}
.social {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    gap: 1em;
    list-style: none;
}
.social li a img {
    width: 20px;
    height: auto;
}
.right{
    background-image: linear-gradient(blue,red);
    height: 100vh;
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    border-radius: 20px;
    overflow: hidden;
}
.right .about .h1{
    font-size: clamp(6vh,3rem,10vh);
}
.right .nav .links{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly
}
.right .nav .links li a{
   text-decoration: none;
   color: #fff;
   font-size: 1rem;
}
.right .nav .links li a:any-link{
    color: #fff;
}
.right .nav .links li a:hover,
.links li a:focus{
    color: gold;
    text-decoration: underline;
}
.right .about{
    padding: 10rem;
    
}
@media screen and (max-width: 599px) {
    .right .nav .links {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .right .about{
        padding: 4rem;
    }
    .right{
        left: 200px;
    }
}
@media screen and (max-width: 415px) {
    .right{
        left: 150px;
    }
    .right .about{
        padding: 1rem; 
    }
    .footer{
        display: none;
    }
    .profile-pic .offscreen{
        position: absolute;
        left: -1000px;
    }
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
}




