body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    background-image: radial-gradient(red,blue);
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: clamp(4vh,1.4,5vh);
}
html{
    scroll-behavior: smooth;
}

.background p{
   text-indent: 20px;
}
.background .image{
    margin-left: 10vw;
}
.background .image img{
    width: 20vh;
    height: auto;
    border-radius: 50%;
}
header{
    position: static;
    /* top: 0; */
    z-index: 100;
    background-color: #000;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width: 462px){
    .hero .offscreen{
        display: none;
    }
}
/* @media screen and (max-width: 514px){
    header{
       display: grid;
       gap: 0px;
    }
} */
header .links{
    list-style: none;
    display: flex;
    gap: 1.4rem;
}
@media screen and (max-width: 576px){
    header{
       display: grid;
       gap: 0px;
    }
    .links{
        flex-direction: column;
    }
    header h1{
        margin-left: 20vw;
    }

}
header .links a{
    text-decoration: none;
}
header .links a:any-link{
    color: #fff;
}
header .links a:hover,
header .links a:focus{
    color: red;
    text-decoration: underline;
}
header h1{
    padding: 8px;
    font-family: monospace,sans-serif;
}
main h3{
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 5px;
}
.hero > div img{
    width: 40%;
    height: auto;
    border-radius: 15px;
}
.hero > h4{
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    margin-bottom: 20vh;
}
.solitude,
.music,
.sports,
.movies,
.programming{
    display: flow-root;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.solitude img,
.music img,
.sports img,
.movies img,
.programming img,
.solitude img{
    float: left;
    margin-right: 20px;
}

@media screen and (min-width: 765px){
    .solitude p,
    .music p,
    .sports p,
    .movies p,
    .programming p,
    .solitude p{
    line-height: 5vh;
    font-size: 1.5rem;
}
}
@media screen and (max-width: 529px){
    .hero > div img{
        width: 50%;
        height: 100%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    /* top: 20px; */
    width: 100%;
    text-align: center;
    background: #000;
    height: 50px;
}





